Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

chore(main): add Vercel configuration for web and API projects
  vercel.json
Due: none

chore(main): update Vercel configuration to include API rewrites
  vercel.json
Due: none

chore(main): remove Vercel configuration for API rewrites
  vercel.json
Due: none

chore(main): fix formatting in README.md by removing trailing period
  README.md
Due: none

chore(main): fix formatting in README.md by correcting import order and adding missing semicolons
  apps/web/README.md
Due: none

refactor(api): temp commit
  packages/api/api/trpc/[trpc].ts
  packages/api/tsconfig.json
Due: none

chore(api): add TRPC server integration and update dependencies
  api/trpc/[trpc].ts
  package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(api): remove deprecated TRPC server file and add local development note
  apps/web/src/utils/api.ts
  packages/api/api/trpc/[trpc].ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update Node.js engine version in package.json and remove unused config in TRPC handler
  api/trpc/[trpc].ts
  package.json
Due: manypkg fix

refactor(api): dynamically import dependencies in TRPC handler
  api/trpc/[trpc].ts
Due: none

refactor: clean code
  api/trpc/[trpc].ts
Due: none

refactor: force a deployment
  README.md
Due: none

chore(api): add build and start scripts, update TypeScript configuration for improved output and compatibility
  packages/api/package.json
  packages/api/tsconfig.json
Due: manypkg fix

chore: update Node.js engine requirement to allow for any version >=20.x and add start script to package.json
  package.json
  turbo.json
Due: manypkg fix

chore: add dotenv and dotenv-cli dependencies, update scripts to use environment variables in package.json
  apps/web/.cache/tsbuildinfo.json
  apps/web/package.json
  apps/web/src/utils/api.ts
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/src/utils/trpc-client.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

fix: update favicon and title in index.html, add new logo.svg, remove old vite.svg
  apps/web/index.html
  apps/web/public/logo.svg
  apps/web/public/vite.svg
Due: none

feat(api): add handler and schema for fetching champion matchup IDs by champion slug
  packages/api/src/controllers/championMatchup.controller.ts
  packages/api/src/router/championMatchup.ts
  packages/api/src/schemas/championMatchup.schema.ts
Due: none

feat(api): enhance recalculateChampMatchupStats to accept champion slug as argument
  packages/cron-scripts/src/scripts/recalculateChampMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

docs(scratchpad): include current task
  .cursor/scratchpad.md
Due: none

feat(api): implement weighted win rate calculation with penalty for champion matchups
  packages/api/src/controllers/championMatchup.controller.ts
  packages/api/src/utils/calculateWeightedWinRate.ts
  packages/api/src/utils/index.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/getOPGGCounters.ts
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api): streamline calculateWeightedWinRateWithPenalty function for improved readability and performance
  packages/api/src/utils/calculateWeightedWinRate.ts
Due: none

refactor(api): update PENALTY_FACTOR in calculateWeightedWinRate and remove getChampionCounters script
  apps/web/.cache/tsbuildinfo.json
  packages/api/src/utils/calculateWeightedWinRate.ts
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getChampionCounters.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(web): adjust win rate calculations and update UI elements for better clarity
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

docs(scratchpad): mark score penalty adjustment for single-source matchups as done
  .cursor/scratchpad.md
Due: none

feat(web): add CounterLegend component and integrate it into PickChampPage
  apps/web/src/components/CounterLegend/CounterLegend.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/index.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): update CounterLegend component to remove champion prop and improve matchup labels
  apps/web/src/components/CounterLegend/CounterLegend.tsx
  apps/web/src/components/Inputs/ChampionSearchBar.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
  packages/ui/src/ui/Inputs/Combobox/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update color scheme and add MatchupsOverviewCard component to PickChampPage
  apps/web/index.html
  apps/web/src/App.tsx
  apps/web/src/components/Cards/MatchupsOverviewCard.tsx
  apps/web/src/components/Cards/index.ts
  apps/web/src/components/CounterLegend.tsx
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/index.ts
  apps/web/src/index.css
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): implement MatchupsOverviewCard component with dynamic matchup data and integrate into PickChampPage
  apps/web/src/components/Cards/MatchupsOverviewCard.tsx
  apps/web/src/components/Cards/types.ts
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/championMatchup.controller.ts
  packages/api/src/router/championMatchup.ts
  packages/api/src/schemas/championMatchup.schema.ts
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): update MatchupsOverviewCard import path and enhance styling in PickChampPage
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  apps/web/src/components/Cards/MatchupsOverviewCard/Skeleton.tsx
  apps/web/src/components/Cards/index.ts
  apps/web/src/components/CounterList/Skeleton.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

docs(scratchpad): include new tasks/subtasks
  .cursor/scratchpad.md
Due: none

feat(deps): add @vercel/node@5.2.1 to cron-scripts and update pnpm-lock.yaml with new dependencies
  packages/cron-scripts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

feat(cron-scripts): implement core functionality to scrape, summarize, and save latest patch notes
  packages/cron-scripts/src/getLatestPatchNote/ai/index.ts
  packages/cron-scripts/src/getLatestPatchNote/ai/summarizePatch/example.ts
  packages/cron-scripts/src/getLatestPatchNote/ai/summarizePatch/handler.ts
  packages/cron-scripts/src/getLatestPatchNote/ai/summarizePatch/prompt.ts
  packages/cron-scripts/src/getLatestPatchNote/cli.ts
  packages/cron-scripts/src/getLatestPatchNote/common/constants.ts
  packages/cron-scripts/src/getLatestPatchNote/common/scrapLatestPatchNote.ts
  packages/cron-scripts/src/getLatestPatchNote/core.ts
  packages/cron-scripts/src/getLatestPatchNote/cronjob.ts
  packages/cron-scripts/src/getLatestPatchNote/db/saveNewPatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): restructure getLatestPatchNote functionality and remove deprecated script
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote.entry.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

chore(cron-scripts): add Vercel configuration for cron job and remove index.ts file
  packages/cron-scripts/src/index.ts
  vercel.json
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

chore(scratchpad): mark deployment of getLatestPatchNote.ts as completed and update task status
  .cursor/scratchpad.md
Due: none

chore(vercel): remove Vercel configuration for cron job
  vercel.json
Due: none

fix(rules): change alwaysApply to true in cron-scripts.mdc for consistent rule application
  .cursor/rules/cron-scripts.mdc
Due: none

feat(db): add mainRoles field to Champion model and outline scraping optimization tasks
  .cursor/scratchpad.md
  packages/db/prisma/schema.prisma
Due: none

feat(cron-scripts): implement saveMainRoles function and enhance getMainRoles script for champion role management
  packages/cron-scripts/src/scripts/getMainRoles.ts
  packages/cron-scripts/src/scripts/getMainRoles/api/saveMainRoles.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (((any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: apps/next/**/*.{js,ts,jsx,tsx,json})) or (any of: packages/cron-scripts/**/*.{js,ts,jsx,tsx,json})) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --config ./apps/next/eslint.config.mjs --fix: any of: apps/next/**/*.{js,ts,jsx,tsx,json}
  eslint --config ./packages/cron-scripts/eslint.config.mjs --fix: any of: packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
