Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./packages/cron-scripts/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/!(cron-scripts)/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat(cron-scripts): implement getMainRoles script for scraping and saving champion main roles
  packages/cron-scripts/src/scripts/getMainRoles.ts
  packages/cron-scripts/src/scripts/getMainRoles/api/saveMainRoles.ts
  packages/cron-scripts/src/scripts/getMainRoles/common/constants.ts
  packages/cron-scripts/src/scripts/getMainRoles/common/extractDataFromHtml.ts
  packages/cron-scripts/src/scripts/getMainRoles/getMainRolesByChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): enhance getHtmlFromPage to accept custom headers for improved web scraping
  packages/cron-scripts/src/scripts/getMainRoles/getMainRolesByChampion.ts
  packages/cron-scripts/src/utils/getHtmlFromPage.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(api): add mainRoles field to updateChampionInput for enhanced champion role management
  packages/api/src/schemas/champion.schema.ts
Due: none

feat(cron-scripts): update getMainRoles to return boolean status and improve logging for champion processing
  packages/cron-scripts/src/scripts/getMainRoles.ts
  packages/cron-scripts/src/scripts/getMainRolesBatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): refactor orchestrateMatchupStats to use OrchestrateMatchupStatsArgs and integrate mainRoles
  packages/cron-scripts/src/scripts/orchestrateMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): enhance getMainRoles script with champion slug normalization and update delay in batch processing
  packages/cron-scripts/src/scripts/getMainRoles.ts
  packages/cron-scripts/src/scripts/getMainRoles/common/constants.ts
  packages/cron-scripts/src/scripts/getMainRolesBatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add getMainRolesBatch script for batch processing of champion main roles
  packages/cron-scripts/src/scripts/getMainRolesBatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(api): include mainRoles in BasicChampion type and update related handlers for champion data retrieval
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/controllers/championMatchup.controller.ts
Due: none

chore(cron-scripts): update dependencies in cron-scripts package.json and pnpm-lock.yaml
  packages/cron-scripts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

feat(cron-scripts): add syncAllChampions functionality and refactor getLatestPatchNote to use Express types
  packages/cron-scripts/src/getLatestPatchNote/cronjob.ts
  packages/cron-scripts/src/syncAllChampionStats/cli.ts
  packages/cron-scripts/src/syncAllChampionStats/common/constants.ts
  packages/cron-scripts/src/syncAllChampionStats/cronjob.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): enhance champion synchronization by adding mainRoles to input schema
  packages/api/src/schemas/champion.schema.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote.entry.ts
  packages/cron-scripts/src/scripts/syncAllChampions.entry.ts
  packages/cron-scripts/src/scripts/syncAllChampions.ts
  packages/cron-scripts/src/syncAllChampionStats/common/constants.ts
  packages/cron-scripts/src/syncAllChampionStats/common/getChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionStats/common/getChampionSlugList.ts
  packages/cron-scripts/src/syncAllChampionStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionStats/common/types.ts
  packages/cron-scripts/src/syncAllChampionStats/common/updateChampionStats.ts
  packages/cron-scripts/src/syncAllChampionStats/core.ts
  packages/cron-scripts/src/syncAllChampionStats/db/getLastestPatch.ts
  packages/cron-scripts/src/syncAllChampionStats/db/saveChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(db): set default value for mainRoles in Champion model to an empty array
  packages/db/prisma/schema.prisma
Due: none

refactor(api): update mainRoles type in Champion schema to use roleEnum for better validation
  packages/api/src/schemas/champion.schema.ts
Due: none

feat(cron-scripts): implement syncAllChampionsStats functionality with enhanced error handling and data processing
  packages/cron-scripts/src/scripts/syncAllChampions.entry.ts
  packages/cron-scripts/src/scripts/syncAllChampionsStats.entry.ts
  packages/cron-scripts/src/syncAllChampionsStats/cli.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/constants.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/getChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/getChampionSlugList.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/types.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/updateChampionStats.ts
  packages/cron-scripts/src/syncAllChampionsStats/core.ts
  packages/cron-scripts/src/syncAllChampionsStats/cronjob.ts
  packages/cron-scripts/src/syncAllChampionsStats/db/getLastestPatch.ts
  packages/cron-scripts/src/syncAllChampionsStats/db/saveChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): remove getChampionSlugs function and replace with getChampionSlugList for improved clarity
  packages/cron-scripts/src/scripts/syncAllChampions/common/getChampionSlugs.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/getChampionSlugList.ts
  packages/cron-scripts/src/syncAllChampionsStats/core.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add constants and utility functions for champion data processing across multiple sources
  packages/cron-scripts/src/common/constants.ts
  packages/cron-scripts/src/common/constants/ddragon.ts
  packages/cron-scripts/src/common/index.ts
  packages/cron-scripts/src/common/mobalytics.ts
  packages/cron-scripts/src/common/opgg.ts
  packages/cron-scripts/src/common/ugg.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/fetchMobalyticsApi.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/getMobalyticsCounters.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/extractDataFromHtml.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/getOPGGCounters.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/extractDataFromHtml.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/getUGGCounters.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/example.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/handler.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/prompt.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/constants.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/scrapLatestPatchNote.ts
  packages/cron-scripts/src/scripts/getMobalyticsMatchupStats.ts
  packages/cron-scripts/src/scripts/getOPGGMatchupStats.ts
  packages/cron-scripts/src/scripts/getUGGMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(cron-scripts): correct MOBALYTICS_ENDPOINT URL format and adjust import statement for Sources type
  packages/cron-scripts/src/common/mobalytics.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/saveSourceMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add string normalization utilities and update champion slug handling across sources
  packages/cron-scripts/src/common/constants.ts
  packages/cron-scripts/src/common/helpers.ts
  packages/cron-scripts/src/common/index.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/dtos.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/updateChampionStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): enhance updateChampionStats and saveChampion
  packages/cron-scripts/src/syncAllChampionsStats/common/updateChampionStats.ts
  packages/cron-scripts/src/syncAllChampionsStats/db/saveChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add bullmq and ioredis dependencies for improved job management and Redis integration
  packages/cron-scripts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

feat(api): add lastPatchVersion to BasicChampion type and update related controllers
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/controllers/championMatchup.controller.ts
Due: none

feat(cron-scripts): implement Job Queue architecture with BullMQ for champion scraping
  .cursor/scratchpad.md
  packages/cron-scripts/README.md
  packages/cron-scripts/src/common/constants.ts
  packages/cron-scripts/src/scripts/championScrapeWorker.ts
  packages/cron-scripts/src/scripts/enqueueChampionScrapeJobs.ts
  packages/cron-scripts/src/scripts/orchestrateMatchupStats.ts
  turbo.json
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(api, web): refactor champion image handling to use thumbnail and splash URLs
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/components/Inputs/ChampionSearchBar.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/controllers/championMatchup.controller.ts
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/src/syncAllChampionsStats/common/constants.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/parseChampionRawData.ts
  packages/db/prisma/schema.prisma
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add functionality to update champion images with new thumbnail and splash URLs
  packages/api/src/schemas/champion.schema.ts
  packages/cron-scripts/script-list.md
  packages/cron-scripts/src/common/constants.ts
  packages/cron-scripts/src/common/ddragon.ts
  packages/cron-scripts/src/common/types.ts
  packages/cron-scripts/src/db/getLastestPatch.ts
  packages/cron-scripts/src/getLatestPatchNote/cli.ts
  packages/cron-scripts/src/scripts/updateAllChampionsImage.entry.ts
  packages/cron-scripts/src/syncAllChampionsStats/cli.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/constants.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/types.ts
  packages/cron-scripts/src/syncAllChampionsStats/core.ts
  packages/cron-scripts/src/syncAllChampionsStats/db/saveChampion.ts
  packages/cron-scripts/src/updateAllChampionsImage/cli.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/buildChampionImage.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/constants.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/types.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/updateChampionImage.ts
  packages/cron-scripts/src/updateAllChampionsImage/core.ts
  packages/cron-scripts/src/updateAllChampionsImage/cronjob.ts
  packages/cron-scripts/src/updateAllChampionsImage/db/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(cron-scripts): update champion image handling logic to improve status checks and logging
  packages/cron-scripts/src/updateAllChampionsImage/common/updateChampionImage.ts
  packages/cron-scripts/src/updateAllChampionsImage/db/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): update champion data fetching and image URL construction to use new source constants
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/src/syncAllChampionsStats/common/getChampionRawData.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/buildChampionImage.ts
  packages/cron-scripts/src/updateAllChampionsImage/common/constants.ts
  packages/cron-scripts/src/updateAllChampionsImage/db/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(web): improve layout and styling, replace Avatar component with image element
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  apps/web/src/components/Cards/MatchupsOverviewCard/Skeleton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): update component styles and logic for improved UI consistency
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  apps/web/src/components/Inputs/PatchCombobox.tsx
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web, api): enhance RoleToggleGroup component to accept dynamic roles
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/router/champion.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): sort roles in RoleToggleGroup component for consistent display order
  apps/web/src/components/RoleToggleGroup.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add RoleIcon to MatchupsOverviewCard for enhanced role display
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): integrate PostHog for analytics tracking and update dependencies
  apps/web/.cache/tsbuildinfo.json
  apps/web/.gitignore
  apps/web/package.json
  apps/web/src/main.tsx
  packages/cron-scripts/.cache/tsbuildinfo.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

chore(web): update .gitignore to include *.sw? and remove .env entry
  apps/web/.gitignore
Due: none

feat(cron-scripts): add patch existence check before summarizing notes
  packages/cron-scripts/src/getLatestPatchNote/core.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(cron-scripts): log message for missing patch in DB check
  packages/cron-scripts/src/getLatestPatchNote/core.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api, db): remove legacy imageUrl property and update champion data structure
  packages/api/src/controllers/champion.controller.ts
  packages/cron-scripts/src/syncAllChampionsStats/common/parseChampionRawData.ts
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(cron-scripts): enhance log message to include last patch version for enqueued jobs
  packages/cron-scripts/src/scripts/enqueueChampionScrapeJobs.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): implement parallel job queue for champion matchup stats recalculation
  .cursor/scratchpad.md
  packages/cron-scripts/README.md
  packages/cron-scripts/src/scripts/enqueueRecalculateJobs.ts
  packages/cron-scripts/src/scripts/recalculateWorker.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

docs(cron-scripts): update README to emphasize setting worker concurrency to 1 for optimal database performance
  packages/cron-scripts/README.md
Due: none

refactor(web): change defaultValue prop to value for role selection consistency
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
