Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "apps/next/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/next/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./packages/cron-scripts/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat(web): update ChampionFilter and PickChampPage components for improved UI and functionality
  apps/web/src/components/Inputs/ChampionFilter.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/ui/src/ui/Avatar/Avatar.tsx
  packages/ui/src/ui/Avatar/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): enhance Combobox components with improved styling and functionality
  apps/web/src/components/Inputs/ChampionFilter.tsx
  apps/web/src/components/Inputs/PatchCombobox.tsx
  apps/web/src/components/Inputs/RankTierCombobox/RankTierCombobox.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/ui/src/ui/Inputs/Combobox/Combobox.stories.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Content.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Item.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/List.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Search.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update CounterList component and table styles for improved layout and role display
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/index.css
  packages/ui/src/ui/Table/internal/Head.tsx
  packages/ui/src/ui/Table/internal/Header.tsx
  packages/ui/src/ui/Table/internal/Row.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): refactor CounterList component to support dynamic source columns and update data types
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/pages/PickChampPage.tsx
  packages/ui/src/ui/Table/internal/Head.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): extract static and dynamic column definitions into separate file for CounterList component
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/columns.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update CounterList column sizes and improve header rendering for better layout
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/CounterList/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add background color logic for overallWinRate column and adjust column sizes in CounterList
  apps/web/src/components/CounterList/columns.tsx
  packages/ui/src/ui/Table/internal/Cell.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): simplify sourceStats access in CounterList columns and improve rendering logic
  apps/web/src/components/CounterList/columns.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): remove deprecated rank tier SVG assets and add new source logos for improved branding
  apps/web/public/assets/rankTiers/bronze.svg
  apps/web/public/assets/rankTiers/challenger.svg
  apps/web/public/assets/rankTiers/diamond-plus.svg
  apps/web/public/assets/rankTiers/diamond.svg
  apps/web/public/assets/rankTiers/emerald-plus.svg
  apps/web/public/assets/rankTiers/emerald.svg
  apps/web/public/assets/rankTiers/gold.svg
  apps/web/public/assets/rankTiers/grandmaster.svg
  apps/web/public/assets/rankTiers/iron.svg
  apps/web/public/assets/rankTiers/master.svg
  apps/web/public/assets/rankTiers/platinum-plus.svg
  apps/web/public/assets/rankTiers/platinum.svg
  apps/web/public/assets/rankTiers/silver.svg
  apps/web/public/assets/sources/mobalytics-logo.svg
  apps/web/public/assets/sources/opgg-logo.svg
  apps/web/public/assets/sources/ugg-logo.svg
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/controllers/source.controller.ts
  packages/api/src/router/source.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update CounterList to make sourceStats clickable links with improved styling
  apps/web/src/components/CounterList/columns.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add sticky header to CounterList for improved usability and visibility
  apps/web/src/components/CounterList/CounterList.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): enhance CounterList with no-results image and loading skeleton for better user experience
  apps/web/public/assets/images/no-results.png
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/Skeleton.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update title and default state values in PickChampPage for improved user experience
  apps/web/index.html
  apps/web/src/components/Inputs/ChampionSearchBar.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(api): add rank to champion counters and sort by weighted win rate for enhanced matchup insights
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/championMatchup.controller.ts
Due: none

feat(scripts): add scripts for fetching champion matchup stats from Mobalytics, OP.GG, and U.GG sources
  packages/cron-scripts/src/scripts/getMobalyticsMatchupStats.ts
  packages/cron-scripts/src/scripts/getOPGGMatchupStats.ts
  packages/cron-scripts/src/scripts/getUGGMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(scratchpad): expand MVP strategy with data acquisition and filtering improvements
  .cursor/scratchpad.md
Due: none

feat(scripts): implement orchestrator for fetching and persisting champion matchup stats with concurrency control
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/cron-scripts/src/scripts/orchestrateMatchupStats.ts
  packages/cron-scripts/src/utils/concurrency.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(api): add handler to check for existing SourceMatchupStat and integrate into TRPC router
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/sourceMatchupStat.controller.ts
  packages/api/src/router/sourceMatchupStat.ts
  packages/api/src/schemas/sourceMatchupStat.schema.ts
  packages/cron-scripts/src/scripts/getMobalyticsMatchupStats.ts
  packages/cron-scripts/src/scripts/getOPGGMatchupStats.ts
  packages/cron-scripts/src/scripts/getUGGMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-script): improve robustness of champion counter extraction HTML logic (OPGG)
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/extractDataFromHtml.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api): extract rankTierEnum and roleEnum into separate types file for better organization
  packages/api/src/schemas/championMatchup.schema.ts
  packages/api/src/schemas/index.ts
  packages/api/src/schemas/sourceMatchupStat.schema.ts
  packages/api/src/schemas/types.ts
Due: none

refactor(web): update cell rendering to display 'Not found' message for missing stats
  apps/web/src/components/CounterList/columns.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix(cron-script): update OP.GG counters URL format and improve error handling for missing counters section
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/extractDataFromHtml.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/getOPGGCounters.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(constants): remove unused card constants and enums to streamline codebase
  apps/nextjs/src/common/constants/card.ts
  apps/nextjs/src/common/constants/index.ts
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/CounterList/columns.tsx
  packages/cron-scripts/.cache/tsbuildinfo.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(eslint-config): update ESLint base configuration and improve TypeScript settings
  apps/web/.cache/tsbuildinfo.json
  apps/web/eslint.config.mjs
  tooling/eslint-config/src/react.js
  tooling/eslint-config/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix

refactor(main): push deployment
  README.md
Due: none

refactor(main): add db:generate dependency to build process
  turbo.json
Due: none

refactor(main): replace imports from '@lol-assistant/db' with local imports from '../../utils/api'
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/Inputs/RankTierCombobox/RankTierCombobox.tsx
  apps/web/src/components/Inputs/RankTierCombobox/rankTierOptions.tsx
  apps/web/src/components/RankTierIcon/RankTierIcon.tsx
  apps/web/src/components/RankTierIcon/catalog.tsx
  apps/web/src/components/RoleIcon/RoleIcon.tsx
  apps/web/src/components/RoleIcon/catalog.tsx
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
  apps/web/src/utils/api.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(main): add alias for Prisma browser stub and create stub file
  apps/web/.eslintignore
  apps/web/src/stubs/prisma-index-browser-stub.js
  apps/web/tsconfig.json
  apps/web/vite.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

Revert "refactor(main): replace imports from '@lol-assistant/db' with local imports from '../../utils/api'"
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/Inputs/RankTierCombobox/RankTierCombobox.tsx
  apps/web/src/components/Inputs/RankTierCombobox/rankTierOptions.tsx
  apps/web/src/components/RankTierIcon/RankTierIcon.tsx
  apps/web/src/components/RankTierIcon/catalog.tsx
  apps/web/src/components/RoleIcon/RoleIcon.tsx
  apps/web/src/components/RoleIcon/catalog.tsx
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
  apps/web/src/utils/api.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(package): add postinstall script for database generation
  package.json
Due: manypkg fix

fix(package): update postinstall script to use Prisma generate
  package.json
Due: manypkg fix

chore(package): remove postinstall script for Prisma generate
  package.json
Due: manypkg fix

refactor(main): update Prisma client alias to use dynamic module path resolution
  apps/web/vite.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore(api): update API URL to production endpoint
  apps/web/src/utils/api.ts
  packages/cron-scripts/src/utils/trpc-client.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(api): remove trailing slash from production API URL
  apps/web/src/utils/api.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(main): rollback changes
  apps/web/src/utils/api.ts
  packages/cron-scripts/src/utils/trpc-client.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api): unify API URL handling in client configurations
  apps/web/src/utils/api.ts
  packages/cron-scripts/src/utils/trpc-client.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix
