Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/bot/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/bot/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/bot/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "apps/next/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/next/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

chore(ui): add @lol-assistant/tailwind-config to package.json and update tailwind
  packages/ui/package.json
  packages/ui/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(tailwind): update main entry in package.json
  tooling/tailwind-config/package.json
  tooling/tailwind-config/src/base-presets.ts
  tooling/tailwind-config/src/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(main): upgrade pnpm lock
  pnpm-lock.yaml
Due: none

chore(web): include @lol-assistant/ui components in Tailwind configuration
  apps/web/tailwind.config.ts
Due: none

refactor(web): clean code
  apps/web/src/pages/PickChampPage.tsx
Due: none

feat(ui): add large button size to Button component
  packages/ui/src/ui/Button/Button.stories.tsx
  packages/ui/src/ui/Button/Button.tsx
  packages/ui/src/ui/Button/types.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): introduce TriggerSize for Combobox and update Button size
  packages/ui/src/ui/Inputs/Combobox/Combobox.stories.tsx
  packages/ui/src/ui/Inputs/Combobox/Combobox.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
  packages/ui/src/ui/Inputs/Combobox/types.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(web): enhance layout of PickChampPage by wrapping Combobox in a responsive container
  apps/web/src/pages/PickChampPage.tsx
Due: none

chore(cron-scripts): add initial package.json
  packages/cron-scripts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(cron-scripts): implement initial structure for cron job scripts
  .cursor/scratchpad.md
  .lintstagedrc
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/README.md
  packages/cron-scripts/eslint.config.mjs
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/run.ts
  packages/cron-scripts/src/scripts/sample-script.ts
  packages/cron-scripts/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

chore(lint): update lintstagedrc to include prettier and eslint
  .lintstagedrc
Due: none

feat(docs): add more specific cursor rules
  .cursor/rules/coding-conventions.mdc
  .cursor/rules/cron-scripts.mdc
  .cursor/rules/lol-assistant.mdc
  .cursor/rules/monorepo-architecture.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/scratchpad-workflow.mdc
Due: none

feat(api): add champion router and controller with getChampionById functionality
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/root.ts
  packages/api/src/router/champion.ts
  packages/api/src/schemas/champion.schema.ts
  packages/api/src/schemas/user.schema.ts
  packages/api/src/services/errorService/constants/codes.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore(cron-scripts): add api, trpc/client and superjson libs
  packages/cron-scripts/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(api): update ts-node version
  packages/api/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(cron-scripts): add test script for champion endpoint and update exports
  packages/api/src/controllers/champion.controller.ts
  packages/cron-scripts/.cache/tsbuildinfo.json
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/test-champion-endpoint.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(cron-scripts): centralize TRPC client creation and remove direct script execution
  packages/cron-scripts/src/scripts/sample-script.ts
  packages/cron-scripts/src/scripts/test-champion-endpoint.ts
  packages/cron-scripts/src/utils/trpc-client.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(cron-scripts): add script:run command for executing cron job scripts
  package.json
  packages/cron-scripts/package.json
  turbo.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

docs(cron-scripts): update README with new script:run command usage instructions
  packages/cron-scripts/README.md
Due: none

docs(coding-conventions): specify that all comments and inner code must be in English
  .cursor/rules/coding-conventions.mdc
Due: none

feat(api): implement dedicated error handlers for Prisma, TRPC, and Zod errors
  packages/api/src/common/constants/index.ts
  packages/api/src/services/errorService/handlers/prismaError.ts
  packages/api/src/services/errorService/handlers/trpcError.ts
  packages/api/src/services/errorService/handlers/zodError.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(api): clean code
  packages/api/src/common/constants/tcg/index.ts
  packages/api/src/common/constants/tcg/rarities.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(api): streamline error handling by introducing a centralized handleError function
  packages/api/src/common/index.ts
  packages/api/src/common/utils/functions.ts
  packages/api/src/common/utils/index.ts
  packages/api/src/common/utils/tcg/getRandomRarity.ts
  packages/api/src/common/utils/tcg/getSortingOptions.ts
  packages/api/src/common/utils/tcg/index.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/services/errorService/handlers/index.ts
  packages/api/src/services/errorService/handlers/prismaError.ts
  packages/api/src/services/errorService/handlers/trpcError.ts
  packages/api/src/services/errorService/handlers/zodError.ts
  packages/api/src/services/errorService/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(cron-scripts): add getChampionById and sampleScript, update exports
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getChampionById.ts
  packages/cron-scripts/src/scripts/sampleScript.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(main): update scratchpad
  .cursor/scratchpad.md
Due: none

feat(api): add create and update champion handlers with corresponding input schemas
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/router/champion.ts
  packages/api/src/schemas/champion.schema.ts
  packages/api/src/services/errorService/constants/codes.ts
  packages/api/src/services/errorService/constants/messages.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(cron-scripts): add createChampion script for creating champions in the database
  packages/cron-scripts/src/scripts/createChampion.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(api): change champion update input schema to make fields optional
  packages/api/src/schemas/champion.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(cron-scripts): add updateChampion script for updating champions in the database
  packages/cron-scripts/src/scripts/createChampion.ts
  packages/cron-scripts/src/scripts/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(main): complete task on scratchpad
  .cursor/scratchpad.md
Due: none

refactor(cron-scripts): update exports to include createChampion and updateChampion scripts
  packages/cron-scripts/src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(cron-scripts): update documentation
  packages/cron-scripts/src/scripts/createChampion.ts
  packages/cron-scripts/src/scripts/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(scratchpad): update tasks
  .cursor/scratchpad.md
Due: none

feat(api): add patch note handlers and schema definitions
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/router/patchNote.ts
  packages/api/src/schemas/patchNote.schema.ts
  packages/api/src/services/errorService/constants/codes.ts
  packages/api/src/services/errorService/constants/messages.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(main): always apply rules
  .cursor/rules/lol-assistant.mdc
Due: none

refactor(cron-script): clean code
  packages/cron-scripts/src/scripts/createChampion.ts
  packages/cron-scripts/src/scripts/getChampionById.ts
  packages/cron-scripts/src/scripts/sampleScript.ts
  packages/cron-scripts/src/scripts/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(cron-scripts): implement patch notes retrieval and summarization
  .cursor/scratchpad.md
  packages/cron-scripts/package.json
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/example.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/handler.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/prompt.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/constants.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/scrapLatestPatchNote.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/getLatestPatchNote.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

fix(db): rename date field to publishedDate in PatchNote model
  packages/db/prisma/schema.prisma
Due: none

refactor(cron-script): clean code
  packages/cron-scripts/src/utils/trpc-client.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(api): integrate patch note router and enhance patch note handlers with transaction support
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/root.ts
  packages/api/src/schemas/patchNote.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix
