Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

refactor(api): update createChampionMatchupHandler to include rankTier
  packages/api/src/controllers/championMatchup.controller.ts
Due: none

feat(api): add getChampionCountersHandler to retrieve champion counters with filters
  packages/api/src/controllers/championMatchup.controller.ts
  packages/api/src/router/championMatchup.ts
  packages/api/src/services/errorService/constants/codes.ts
  packages/api/src/services/errorService/constants/messages.ts
Due: none

feat(api, cron-scripts): integrate sourceRankTier across champion counter functionalities
  apps/web/src/components/ChampionCombobox.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/controllers/sourceMatchupStat.controller.ts
  packages/api/src/schemas/sourceMatchupStat.schema.ts
  packages/cron-scripts/src/scripts/getChampionCounters.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/createChampionMatchup.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/types.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/dtos.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(ui): add champion counters display to PickChampPage with Avatar integration
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/championMatchup.controller.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(ui): integrate @tanstack/react-table for enhanced table functionality
  .cursor/scratchpad.md
  packages/ui/package.json
  packages/ui/src/ui/Table/Table.stories.tsx
  packages/ui/src/ui/Table/Table.tsx
  packages/ui/src/ui/Table/internal/Body.tsx
  packages/ui/src/ui/Table/internal/Caption.tsx
  packages/ui/src/ui/Table/internal/Cell.tsx
  packages/ui/src/ui/Table/internal/Footer.tsx
  packages/ui/src/ui/Table/internal/Head.tsx
  packages/ui/src/ui/Table/internal/Header.tsx
  packages/ui/src/ui/Table/internal/Row.tsx
  packages/ui/src/ui/Table/internal/index.ts
  pnpm-lock.yaml
Due: manypkg fix

feat(web): add CounterList component and integrate it
  apps/web/package.json
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/common/types/apiResponse.ts
  packages/db/prisma/schema.prisma
  packages/ui/src/ui/index.ts
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: include sortBy on most header table
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(api, web): change baseChampionId to opponentChampionSlug
  apps/web/src/components/ChampionCombobox.tsx
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/controllers/championMatchup.controller.ts
  packages/api/src/schemas/championMatchup.schema.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): enhance CounterList with sorting icons
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add SVG files for rank tiers
  apps/web/public/assets/rankTiers/bronze.svg
  apps/web/public/assets/rankTiers/challenger.svg
  apps/web/public/assets/rankTiers/diamond-plus.svg
  apps/web/public/assets/rankTiers/diamond.svg
  apps/web/public/assets/rankTiers/gold.svg
  apps/web/public/assets/rankTiers/grandmaster.svg
  apps/web/public/assets/rankTiers/iron.svg
  apps/web/public/assets/rankTiers/master.svg
  apps/web/public/assets/rankTiers/platinum-plus.svg
  apps/web/public/assets/rankTiers/platinum.svg
  apps/web/public/assets/rankTiers/silver.svg
Due: none

feat(web): add emerald and emerald-plus SVG files; remove deprecated react.svg
  apps/web/public/assets/rankTiers/emerald-plus.svg
  apps/web/public/assets/rankTiers/emerald.svg
  apps/web/src/assets/react.svg
Due: none

feat(web): add RankTierCombobox component and integrate it into PickChampPage
  apps/web/src/components/RankTierCombobox.tsx
  apps/web/src/components/index.ts
  apps/web/src/constants/index.ts
  apps/web/src/constants/rankTier.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix(web): update RankTierCombobox trigger size from lg to base
  apps/web/src/components/RankTierCombobox.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update RankTierCombobox to use RankTier type and integrate into PickChampPage
  apps/web/src/components/RankTierCombobox.tsx
  apps/web/src/pages/PickChampPage.tsx
  commitlint.config.js
  packages/db/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): refactor ChampionCombobox and RankTierCombobox to use selectedOption
  apps/web/src/components/ChampionCombobox.tsx
  apps/web/src/components/RankTierCombobox.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(main): including toggle and toggle-group components
  packages/ui/package.json
  pnpm-lock.yaml
Due: manypkg fix

refactor(db): export Prisma along with existing types from @prisma/client
  packages/db/index.ts
Due: none

feat(ui): restructure button components and add loading state support
  packages/ui/src/ui/Buttons/Button/Button.stories.tsx
  packages/ui/src/ui/Buttons/Button/Button.tsx
  packages/ui/src/ui/Buttons/Button/LoadingButton.tsx
  packages/ui/src/ui/Buttons/Button/types.ts
  packages/ui/src/ui/Buttons/Toggle/Toggle.stories.tsx
  packages/ui/src/ui/Buttons/Toggle/Toggle.tsx
  packages/ui/src/ui/Buttons/index.ts
  packages/ui/src/ui/index.ts
Due: none

feat(ui): enhance Toggle component with appearance, size, and variant options; add ToggleGroup component
  packages/ui/src/ui/Buttons/Button/Button.tsx
  packages/ui/src/ui/Buttons/Toggle/Toggle.stories.tsx
  packages/ui/src/ui/Buttons/Toggle/Toggle.tsx
  packages/ui/src/ui/Buttons/Toggle/types.ts
  packages/ui/src/ui/Table/Table.tsx
  packages/ui/src/ui/ToggleGroup/ToggleGroup.tsx
Due: none

feat(ui): export Toggle component variants and add ToggleGroup with context support
  packages/ui/src/ui/Buttons/Toggle/Toggle.tsx
  packages/ui/src/ui/ToggleGroup/ToggleGroup.stories.tsx
  packages/ui/src/ui/ToggleGroup/ToggleGroup.tsx
  packages/ui/src/ui/ToggleGroup/internal/Item.tsx
  packages/ui/src/ui/ToggleGroup/internal/index.ts
Due: none

feat(ui): enhance ToggleGroup with appearance support and improve accessibility in stories
  packages/ui/src/ui/ToggleGroup/ToggleGroup.stories.tsx
  packages/ui/src/ui/ToggleGroup/ToggleGroup.tsx
  packages/ui/src/ui/ToggleGroup/internal/Item.tsx
Due: none

feat(web): add RoleToggleGroup component for selecting champion roles and integrate into PickChampPage
  apps/web/public/assets/roles/lol-role-mid.svg
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/components/index.ts
  apps/web/src/constants/index.ts
  apps/web/src/constants/lolChampionRole.ts
  apps/web/src/pages/PickChampPage.tsx
  packages/db/index.ts
  packages/db/prisma/schema.prisma
  packages/ui/src/ui/ToggleGroup/ToggleGroup.stories.tsx
  packages/ui/src/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(main): update SVG icons for champion roles with improved structure and styling
  apps/web/public/assets/roles/lol-role-adc.svg
  apps/web/public/assets/roles/lol-role-jungle.svg
  apps/web/public/assets/roles/lol-role-mid.svg
  apps/web/public/assets/roles/lol-role-support.svg
  apps/web/public/assets/roles/lol-role-top.svg
  apps/web/src/index.css
  packages/ui/package.json
Due: manypkg fix

refactor(web): update layout of PickChampPage and enhance RoleToggleGroup styling
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): remove unused champion role SVG icons and implement RoleIcon component for better role representation
  apps/web/public/assets/roles/lol-role-adc.svg
  apps/web/public/assets/roles/lol-role-jungle.svg
  apps/web/public/assets/roles/lol-role-mid.svg
  apps/web/public/assets/roles/lol-role-support.svg
  apps/web/public/assets/roles/lol-role-top.svg
  apps/web/src/components/RoleIcon/RoleIcon.tsx
  apps/web/src/components/RoleToggleGroup.tsx
  apps/web/src/components/index.ts
  packages/ui/src/ui/Buttons/Toggle/Toggle.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): enhance RoleToggleGroup item styling with rounded corners for better visual distinction
  apps/web/src/components/RoleToggleGroup.tsx
  packages/ui/src/ui/ToggleGroup/ToggleGroup.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update PickChampPage to use 'mid' role by default and enhance champion matchup schema with role enum
  apps/web/src/pages/PickChampPage.tsx
  packages/api/src/schemas/championMatchup.schema.ts
  packages/db/prisma/schema.prisma
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): remove lolChampionRole constants file and update exports
  apps/web/src/constants/index.ts
  apps/web/src/constants/lolChampionRole.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): implement RankTierIcon component and update rank tier options with SVG icons
  apps/web/src/components/RankTierCombobox.tsx
  apps/web/src/components/RankTierIcon/RankTierIcon.tsx
  apps/web/src/components/RankTierIcon/catalog.tsx
  apps/web/src/components/RoleIcon/RoleIcon.tsx
  apps/web/src/components/RoleIcon/catalog.tsx
  apps/web/src/constants/rankTier.ts
  apps/web/src/constants/rankTier.tsx
  packages/db/prisma/schema.prisma
  packages/ui/src/ui/Inputs/Combobox/internal/Item.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add ChampionCombobox and RankTierCombobox components with options for champion and rank selection
  apps/web/src/components/Inputs/ChampionCombobox.tsx
  apps/web/src/components/Inputs/RankTierCombobox/RankTierCombobox.tsx
  apps/web/src/components/Inputs/RankTierCombobox/rankTierOptions.tsx
  apps/web/src/components/index.ts
  apps/web/src/constants/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add PatchCombobox component and update imports in PickChampPage
  apps/web/src/components/Inputs/PatchCombobox.tsx
  apps/web/src/components/Inputs/index.ts
  apps/web/src/components/RankTierIcon/catalog.tsx
  apps/web/src/components/index.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(api): add handler and schema for retrieving the last two patch notes
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/router/patchNote.ts
  packages/api/src/schemas/patchNote.schema.ts
  packages/db/index.ts
Due: none

refactor(ui): update Trigger component styles and make placeholder optional
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
Due: none

feat(api): add utility function to convert Riot patch version format
  packages/api/src/index.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/riotToPatchVersion.ts
Due: none

feat(db): add riotPatch field to PatchNote model for Riot canonical versioning
  packages/db/prisma/schema.prisma
Due: none

feat(api): update createPatchNoteHandler and saveNewPatch to include riotPatch and convert it to canonical version
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/schemas/patchNote.schema.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(web): add defaultValue prop to PatchCombobox and update usage in PickChampPage
  apps/web/src/components/Inputs/PatchCombobox.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(api): enhance getChampionCountersHandler to include patchVersion in matchup queries
  packages/api/src/controllers/championMatchup.controller.ts
Due: none

refactor(api): replace InternalRank and InternalRole with RankTier and LoLChampionRole in getChampionCounters scripts
  packages/cron-scripts/src/scripts/getChampionCounters.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/createChampionMatchup.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/opgg/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/ugg/common/constants.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(web): add ChampionFilter and ChampionSearchBar components for enhanced champion selection
  apps/web/src/components/Inputs/ChampionFilter.tsx
  apps/web/src/components/Inputs/ChampionSearchBar.tsx
  apps/web/src/components/Inputs/index.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (((any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: apps/next/**/*.{js,ts,jsx,tsx,json})) or (any of: packages/cron-scripts/**/*.{js,ts,jsx,tsx,json})) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --config ./apps/next/eslint.config.mjs --fix: any of: apps/next/**/*.{js,ts,jsx,tsx,json}
  eslint --config ./packages/cron-scripts/eslint.config.mjs --fix: any of: packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
