Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./packages/cron-scripts/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/!(cron-scripts)/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

refactor(cron-scripts): fix a url error
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(web): integrate TanStack Router for champion pages routing
  .cursor/scratchpad.md
  apps/web/.cache/tsbuildinfo.json
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/cron-scripts/.cache/tsbuildinfo.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

feat(web): complete basic setup for TanStack Router with root route definition
  .cursor/scratchpad.md
  apps/web/src/routes/__root.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add champions route and integrate with TanStack Router
  apps/web/src/App.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/champions.tsx
  apps/web/src/routes/index.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(web): standardize route definitions and formatting in routeTree.gen.ts
  .cursor/scratchpad.md
  .prettierignore
  apps/web/src/routeTree.gen.ts
  eslint.config.mjs
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add champion detail and index pages with routing integration
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/champions/$championName.tsx
  apps/web/src/routes/champions/index.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): refactor champion detail and index pages to use functional components and improve structure
  apps/web/src/routes/champions/$championName.tsx
  apps/web/src/routes/champions/index.tsx
  apps/web/src/routes/index.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore(deps): update zod version to 3.25.67 in pnpm-lock.yaml and package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat(web): enhance champion detail page with search role handling and navigation updates
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update MatchupsOverviewCard to include navigation links for champion details
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): sync search value with champion name parameter on detail page
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update CounterList to use championName and championSlug, enhancing navigation links
  apps/web/src/components/CounterList/columns.tsx
  apps/web/src/components/CounterList/types.ts
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): implement champion search bar navigation to update champion details based on selection
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): update PickChampPage to use championName and championSlug for improved data handling
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/pages/PickChampPage.tsx
  packages/cron-scripts/.cache/tsbuildinfo.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(api): filter patch notes by active status in getLatestPatchNoteHandler and getLastTwoPatchNotesHandler
  packages/api/src/controllers/patchNote.controller.ts
Due: none

feat(web): add scroll-to-top functionality on route change in RootComponent
  apps/web/src/routes/__root.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(ui): introduce Image component for enhanced image handling and loading states
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  packages/ui/src/ui/Image/Image.tsx
  packages/ui/src/ui/Image/types.ts
  packages/ui/src/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(config): add Vercel configuration for build and deployment settings
  vercel.json
Due: none

feat(components): add Logo and Navbar components; enhance ChampionSearchBar with size prop
  apps/web/src/components/Inputs/ChampionSearchBar.tsx
  apps/web/src/components/Logo/Logo.tsx
  apps/web/src/components/Logo/types.ts
  apps/web/src/components/Navbar/Navbar.tsx
  apps/web/src/components/index.ts
  apps/web/src/routes/__root.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(components): add Footer component and integrate it into the RootComponent
  apps/web/src/components/Footer/Footer.tsx
  apps/web/src/components/Footer/index.ts
  apps/web/src/components/index.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(routes): implement redirection to default champion on Home and Champions pages
  apps/web/src/routes/champions/index.tsx
  apps/web/src/routes/index.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): add Champion Banner to ChampionDetailPage for enhanced visual presentation
  apps/web/src/components/Navbar/Navbar.tsx
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): refactor ChampionDetailPage to use ChampionBanner component and add loading skeleton
  apps/web/src/routes/champions/$championName.tsx
  apps/web/src/routes/champions/internals/ChampionBanner.tsx
  apps/web/src/routes/champions/internals/Skeleton.tsx
  apps/web/src/routes/champions/internals/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat(web): integrate FeedbackFish component in Navbar for user feedback
  apps/web/package.json
  apps/web/src/components/Navbar/Navbar.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat(api): add isActive field to createPatchNoteInput and update handler to include it
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/schemas/patchNote.schema.ts
  packages/cron-scripts/src/getLatestPatchNote/db/saveNewPatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor: move files to an specific folder
  packages/cron-scripts/src/championScrape/championScrape.worker.ts
  packages/cron-scripts/src/championScrape/common/constants.ts
  packages/cron-scripts/src/championScrape/common/scrapLatestPatchNote.ts
  packages/cron-scripts/src/championScrape/enqueueChampionScrape.cli.ts
  packages/cron-scripts/src/championScrape/enqueueChampionScrape.core.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/common/createChampionMatchup.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/common/dtos.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/common/saveSourceMatchupStats.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/common/types.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/mobalytics/common/fetchMobalyticsApi.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/mobalytics/common/types.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/mobalytics/getMobalyticsCounters.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/opgg/common/dtos.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/opgg/common/extractDataFromHtml.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/opgg/common/types.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/opgg/getOPGGCounters.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/ugg/common/dtos.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/ugg/common/extractDataFromHtml.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/ugg/common/types.ts
  packages/cron-scripts/src/championScrape/getChampionCounters/ugg/getUGGCounters.ts
  packages/cron-scripts/src/championScrape/getMobalyticsMatchupStats.ts
  packages/cron-scripts/src/championScrape/getOPGGMatchupStats.ts
  packages/cron-scripts/src/championScrape/getUGGMatchupStats.ts
  packages/cron-scripts/src/championScrape/orchestrateMatchupStats.ts
  packages/cron-scripts/src/scripts/championScrapeWorker.entry.ts
  packages/cron-scripts/src/scripts/enqueueChampionScrape.entry.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-script): add allowUpdate option to matchup stats functions
  packages/cron-scripts/src/championScrape/championScrape.worker.ts
  packages/cron-scripts/src/championScrape/getMobalyticsMatchupStats.ts
  packages/cron-scripts/src/championScrape/getOPGGMatchupStats.ts
  packages/cron-scripts/src/championScrape/getUGGMatchupStats.ts
  packages/cron-scripts/src/championScrape/orchestrateMatchupStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-script): include allowUpdate in championScrape worker job data
  packages/cron-scripts/src/championScrape/championScrape.worker.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-script): enhance enqueueChampionScrape to accept allowUpdate parameter
  packages/cron-scripts/src/championScrape/enqueueChampionScrape.cli.ts
  packages/cron-scripts/src/championScrape/enqueueChampionScrape.core.ts
  packages/cron-scripts/src/scripts/enqueueChampionScrape.entry.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

chore: remove scrapLatestPatchNotes function and its dependencies
  packages/cron-scripts/src/championScrape/common/scrapLatestPatchNote.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

chore: remove jsdoc plugin configuration from prettier settings
  prettier.config.mjs
Due: none

fix: update script documentation
  packages/cron-scripts/src/scripts/championScrapeWorker.entry.ts
  packages/cron-scripts/src/scripts/enqueueChampionScrape.entry.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

docs: update README
  packages/cron-scripts/README.md
Due: none

docs: add section to README for clearing all Redis DB data
  packages/cron-scripts/README.md
Due: none

feat: add Google Analytics tracking script to index.html
  apps/web/index.html
Due: none

chore: add lodash.throttle and its type definitions to package.json and pnpm-lock.yaml
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add common utilities and hooks for responsive design
  apps/web/src/common/constants/breakpoints.ts
  apps/web/src/common/constants/index.ts
  apps/web/src/common/hooks/index.ts
  apps/web/src/common/hooks/useBreakpoint.ts
  apps/web/src/common/hooks/useWindowSize.ts
  apps/web/src/common/index.ts
  apps/web/src/common/utils/helpers.ts
  apps/web/src/common/utils/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: improve layout and responsiveness of MatchupsOverviewCard and Navbar components
  apps/web/src/components/Cards/MatchupsOverviewCard/MatchupsOverviewCard.tsx
  apps/web/src/components/Logo/Logo.tsx
  apps/web/src/components/Navbar/Navbar.tsx
  apps/web/src/pages/PickChampPage.tsx
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: adjust ChampionDetailPage and ChampionBanner for improved layout and responsiveness
  apps/web/src/routes/champions/$championName.tsx
  apps/web/src/routes/champions/internals/ChampionBanner.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: enhance layout and responsiveness of CounterList, Footer, and PickChampPage components
  apps/web/src/components/CounterList/CounterList.tsx
  apps/web/src/components/Footer/Footer.tsx
  apps/web/src/pages/PickChampPage.tsx
  apps/web/src/routes/champions/$championName.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
