Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/bot/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --fix, manypkg fix

Add OpenAI API Key and update database connection examples in .env.local.example
  .env.local.example
Due: none

refactor: rename packages and main project
  .npmrc
  apps/nextjs/eslint.config.mjs
  apps/nextjs/next.config.mjs
  apps/nextjs/package.json
  apps/nextjs/src/pages/api/trpc/[trpc].ts
  apps/nextjs/src/utils/api.ts
  apps/nextjs/tailwind.config.mjs
  apps/nextjs/tsconfig.json
  apps/web/package.json
  apps/web/src/utils/api.ts
  apps/web/tsconfig.json
  backups/cards_rows_2024-10-15.csv
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: manypkg fix

refactor: rename packages and main project
  apps/nextjs/package.json
  apps/nextjs/tailwind.config.mjs
  apps/nextjs/tsconfig.json
  packages/api/package.json
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/common/types/lemonSqueezy.ts
  packages/api/src/services/configService.ts
  packages/api/src/trpc.ts
  packages/api/tsconfig.json
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/tsconfig.json
  pnpm-lock.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/tsconfig.json
  tooling/tailwind-config/package.json
  tooling/tailwind-config/src/tailwind-config.d.ts
  tooling/tailwind-config/src/tailwind.config.ts
  tooling/tailwind-config/tsconfig.json
  tooling/typescript-config/package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update TypeScript configuration and add dependency for TypeScript config
  tooling/tailwind-config/package.json
  tooling/tailwind-config/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat: add SVG assets for League of Legends roles and update Prisma schema with Champion model
  apps/web/public/assets/roles/lol-role-adc.svg
  apps/web/public/assets/roles/lol-role-jungle.svg
  apps/web/public/assets/roles/lol-role-middle.svg
  apps/web/public/assets/roles/lol-role-support.svg
  apps/web/public/assets/roles/lol-role-top.svg
  packages/db/prisma/schema.prisma
Due: none

feat(ui): add UI package with components, styles, and Storybook configuration
  package.json
  packages/api/package.json
  packages/ui/.gitignore
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/index.ts
  packages/ui/src/styles/global.css
  packages/ui/src/ui/Button/Button.stories.tsx
  packages/ui/src/ui/Button/Button.tsx
  packages/ui/src/ui/Button/LoadingButton.tsx
  packages/ui/src/ui/Button/types.ts
  packages/ui/src/ui/Command/Command.stories.tsx
  packages/ui/src/ui/Command/Command.tsx
  packages/ui/src/ui/Spinner/Spinner.stories.tsx
  packages/ui/src/ui/Spinner/Spinner.tsx
  packages/ui/src/ui/Spinner/types.ts
  packages/ui/src/ui/Tooltip/Tooltip.stories.tsx
  packages/ui/src/ui/Tooltip/Tooltip.tsx
  packages/ui/src/ui/Tooltip/internals/Content.tsx
  packages/ui/src/ui/Tooltip/internals/index.ts
  packages/ui/src/ui/index.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update pnpm-lock.yaml to reflect dependency version changes
  pnpm-lock.yaml
Due: none

refactor(ui): consolidate TypeScript configuration by removing unused tsconfig files
  packages/ui/.cache/tsbuildinfo.json
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
Due: prettier --write --ignore-unknown, eslint --fix

feat(tooling): add React TypeScript configuration file for JSX support
  tooling/typescript-config/react.json
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): update Storybook configuration with new themes and manager API integration
  packages/ui/.storybook/manager.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor(ui): update Storybook titles to reflect new UI Components structure
  packages/ui/src/ui/Button/Button.stories.tsx
  packages/ui/src/ui/Command/Command.stories.tsx
  packages/ui/src/ui/Spinner/Spinner.stories.tsx
  packages/ui/src/ui/Tooltip/Tooltip.stories.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(main): add pull request template for improved PR submissions
  .github/pull_request_template.md
Due: none

feat(ui): add Inter Variable font support and update Tailwind
  packages/ui/package.json
  packages/ui/src/styles/global.css
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor(ui): remove unused TypeScript build info and simplify Button component styles
  packages/ui/.cache/tsbuildinfo.json
  packages/ui/src/ui/Button/Button.tsx
  packages/ui/src/ui/Button/types.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): add primary color palette and update Button styles with new color
  packages/ui/src/styles/colors.css
  packages/ui/src/styles/global.css
  packages/ui/src/ui/Button/Button.tsx
  packages/ui/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): update Button styles to use new border and background colors
  packages/ui/src/ui/Button/Button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): add background options to Storybook preview configuration
  packages/ui/.storybook/preview.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): enhance Button component with new hover states
  packages/ui/src/ui/Button/Button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix(ui): adjust Button hover styles for better visibility
  packages/ui/src/ui/Button/Button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): enhance Button stories with new appearance, size, and variant options
  packages/ui/src/ui/Button/Button.stories.tsx
  packages/ui/src/ui/Button/Button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): introduce Popover and restructure Overlays component
  packages/ui/src/ui/Overlays/Popover/Popover.stories.tsx
  packages/ui/src/ui/Overlays/Popover/Popover.tsx
  packages/ui/src/ui/Overlays/Popover/internals/Content.tsx
  packages/ui/src/ui/Overlays/Popover/internals/index.ts
  packages/ui/src/ui/Overlays/Tooltip/Tooltip.stories.tsx
  packages/ui/src/ui/Overlays/Tooltip/Tooltip.tsx
  packages/ui/src/ui/Overlays/Tooltip/internals/Content.tsx
  packages/ui/src/ui/Overlays/Tooltip/internals/index.ts
  packages/ui/src/ui/Overlays/index.ts
  packages/ui/src/ui/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): add @radix-ui/react-popover dependency to enhance UI components
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor(ui): set default size for Button component to improve usability
  packages/ui/src/ui/Button/Button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): adjust Popover styles for improved layout consistency
  packages/ui/src/ui/Overlays/Popover/Popover.stories.tsx
  packages/ui/src/ui/Overlays/Popover/internals/Content.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): update Tooltip styles for improved readability and consistency
  packages/ui/src/ui/Overlays/Tooltip/Tooltip.stories.tsx
  packages/ui/src/ui/Overlays/Tooltip/internals/Content.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): add Combobox component with internal structure and lucide-react integration
  packages/ui/package.json
  packages/ui/src/ui/Inputs/Combobox/Combobox.stories.tsx
  packages/ui/src/ui/Inputs/Combobox/Combobox.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Content.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Empty.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Item.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/List.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Loading.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Search.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/index.ts
  packages/ui/src/ui/Inputs/index.ts
  packages/ui/src/ui/Overlays/Popover/Popover.tsx
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(ui): update Combobox stories to include champion selection and add Save button
  packages/ui/src/ui/Inputs/Combobox/Combobox.stories.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
Due: prettier --write --ignore-unknown, eslint --fix

docs(ui): add documentation comment to Combobox component explaining its functionality
  packages/ui/src/ui/Inputs/Combobox/Combobox.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): add documentation comment to Content component explaining its purpose in the Popover
  packages/ui/src/ui/Overlays/Popover/internals/Content.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): add displayName property to Combobox
  packages/ui/src/ui/Inputs/Combobox/Combobox.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Content.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Empty.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Item.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/List.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Loading.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Search.tsx
  packages/ui/src/ui/Inputs/Combobox/internal/Trigger.tsx
  packages/ui/src/ui/Overlays/Tooltip/internals/Content.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): add Avatar component using @radix-ui/react-avatar and update dependencies
  packages/ui/package.json
  packages/ui/src/ui/Avatar/Avatar.tsx
  packages/ui/src/ui/Avatar/internal/Image.tsx
  packages/ui/src/ui/Avatar/types.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(ui): add Avatar stories and internal Fallback component for improved image handling
  packages/ui/src/ui/Avatar/Avatar.stories.tsx
  packages/ui/src/ui/Avatar/Avatar.tsx
  packages/ui/src/ui/Avatar/internal/Fallback.tsx
  packages/ui/src/ui/Avatar/internal/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(ui): update Avatar story images and add Fallback story for empty states
  packages/ui/src/ui/Avatar/Avatar.stories.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor(ui): enhance Avatar component with rounded variant
  packages/ui/src/ui/Avatar/Avatar.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat(ui): export additional components from index file, including Inputs and Spinner
  packages/ui/src/ui/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(deps): add @lol-assistant/ui and lucide-react dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: manypkg fix

feat(cursor): add initial planning and task breakdown
  .cursor/rules/lol-assistant.mdc
  .cursor/scratchpad.md
Due: none

refactor(web): replace tailwind.config.js with tailwind.config.ts
  apps/web/tailwind.config.js
  apps/web/tailwind.config.ts
Due: none

feat(web): implement PickChampPage and refactor App component to use it
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/PickChampPage.tsx
Due: none

chore(web): integrate @lol-assistant/tailwind-config and simplify tailwind configuration
  apps/web/package.json
  apps/web/tailwind.config.ts
Due: manypkg fix

Path conditions:
  eslint --config ./apps/bot/eslint.config.mjs --fix: any of: apps/bot/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (((any of: apps/bot/**/*.{js,ts,jsx,tsx,json}) or (any of: apps/next/**/*.{js,ts,jsx,tsx,json})) or (any of: packages/**/*.{js,ts,jsx,tsx,json})) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --config ./apps/next/eslint.config.mjs --fix: any of: apps/next/**/*.{js,ts,jsx,tsx,json}
  eslint --fix: (any of: packages/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  manypkg fix: any of: package.json
