Repository serudda/lol-asistant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --config ./apps/next/eslint.config.mjs --fix, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "apps/next/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/next/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "packages/cron-scripts/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./packages/cron-scripts/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat(cron-scripts): add getLatestPatchNote script for scraping and saving patch notes
  packages/cron-scripts/package.json
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/handler.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/scrapLatestPatchNote.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

refactor(cron-scripts): update script:run command and ensure API key
  packages/cron-scripts/package.json
  packages/cron-scripts/src/scripts/getLatestPatchNote/ai/summarizePatch/handler.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix, manypkg fix

refactor(cron-scripts): simplify OpenAIEmbeddings initialization by removing API key dependency
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(main): update scratchpad with the today task
  .cursor/scratchpad.md
Due: none

feat(cron-scripts): implement Data Dragon API integration for champion stats retrieval and parsing
  packages/cron-scripts/src/scripts/updateChampionStats/common/constants.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/ddragon.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/types.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): move configuration constants to a dedicated constants file
  packages/cron-scripts/src/scripts/getLatestPatchNote.ts
  packages/cron-scripts/src/scripts/getLatestPatchNote/common/constants.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(db): add lastPatchVersion field to Champion model for version tracking
  packages/db/prisma/schema.prisma
Due: none

feat(cron-scripts): add functions to fetch and parse champion data from Data Dragon API
  packages/cron-scripts/src/scripts/updateChampionStats/common/getChampionRawData.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/parseChampionRawData.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(main): update tasks and implement patch note
  .cursor/scratchpad.md
Due: none

feat(api): add getChampionBySlug handler and update champion creation logic to prevent duplicates
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/router/champion.ts
  packages/api/src/schemas/champion.schema.ts
  packages/api/src/services/errorService/constants/codes.ts
  packages/api/src/services/errorService/constants/messages.ts
Due: none

refactor(cron-scripts): improve error handling in saveNewPatch and update parseChampionRawData
  packages/cron-scripts/src/scripts/getLatestPatchNote/api/saveNewPatch.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/types.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(cron-scripts): add updateChampionStats script to fetch, parse, and save champion data
  packages/cron-scripts/src/scripts/updateChampionStats.ts
  packages/cron-scripts/src/scripts/updateChampionStats/api/saveChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): extract transformJsonValue function to a separate file for better modularity
  packages/cron-scripts/src/scripts/updateChampionStats/api/saveChampion.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/transformJsonValue.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api): rename Response enum to ResponseStatus
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/account.controller.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/controllers/config.controller.ts
  packages/api/src/controllers/patchNote.controller.ts
  packages/api/src/controllers/user.controller.ts
  packages/api/src/services/errorService/types/response.ts
Due: none

refactor(api): update champion schema to use array for spells
  packages/api/src/schemas/champion.schema.ts
  packages/api/src/services/errorService/errorResponse.ts
Due: none

refactor(cron-scripts): update documentation
  packages/cron-scripts/src/scripts/updateChampionStats.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): enhance type safety in parseChampionRawData by specifying DDragonSpell type
  packages/cron-scripts/src/scripts/updateChampionStats/common/parseChampionRawData.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): update ChampionSaveInput type to include spells as an array of objects
  packages/cron-scripts/src/scripts/updateChampionStats/common/types.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): replace transformJsonValue with direct type assertions
  packages/cron-scripts/src/scripts/updateChampionStats/api/saveChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): remove unused transformJsonValue function to streamline code
  packages/cron-scripts/src/scripts/updateChampionStats/common/transformJsonValue.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(api): add ResponseStatus enum and update configService for type safety
  packages/api/package.json
  packages/api/src/common/constants/api.ts
  packages/api/src/common/constants/index.ts
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/services/configService.ts
Due: manypkg fix

refactor(db): add "type" field to package.json for module support
  packages/db/package.json
Due: manypkg fix

refactor(main): update current task
  .cursor/scratchpad.md
Due: none

feat(cron-scripts): add syncAllChampions script and Data Dragon constants
  packages/cron-scripts/src/common/constants/ddragon.ts
  packages/cron-scripts/src/scripts/syncAllChampions.ts
  packages/cron-scripts/src/scripts/syncAllChampions/common/getChampionSlugs.ts
  packages/cron-scripts/src/scripts/updateChampionStats.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/getChampionRawData.ts
  packages/cron-scripts/src/scripts/updateChampionStats/common/parseChampionRawData.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

feat(main): complete syncAllChampions script
  .cursor/scratchpad.md
Due: none

refactor(cron-scripts): improve parseChampionRawData by normalizing slug
  packages/cron-scripts/src/scripts/updateChampionStats/common/parseChampionRawData.ts
  packages/cron-scripts/src/utils/helpers.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(main): update current status
  .cursor/scratchpad.md
Due: none

refactor(cron-scripts): remove createChampion and updateChampion scripts
  packages/cron-scripts/src/scripts/createChampion.ts
  packages/cron-scripts/src/scripts/updateChampion.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(cron-scripts): update exports to include syncAllChampions and updateChampionStats
  packages/cron-scripts/src/index.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(main): include tasks
  .cursor/scratchpad.md
Due: none

feat(api): implement getAllBasic endpoint for champions with minimal info
  .cursor/scratchpad.md
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/controllers/champion.controller.ts
  packages/api/src/router/champion.ts
  packages/api/src/schemas/champion.schema.ts
Due: none

refactor(ui): export AvatarSize for improved component usage
  packages/ui/src/ui/Avatar/Avatar.tsx
Due: none

feat(web): add ChampionCombobox component for champion selection
  apps/web/src/components/ChampionCombobox.tsx
  apps/web/src/components/index.ts
  apps/web/src/pages/PickChampPage.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor(main): update status
  .cursor/scratchpad.md
Due: none

refactor(main): update today tasks
  .cursor/scratchpad.md
Due: none

feat(cron-scripts): add getChampionCounters script for fetching champion counters
  packages/cron-scripts/src/index.ts
  packages/cron-scripts/src/scripts/getChampionCounters.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/common/types.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/constants.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/fetchMobalyticsApi.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/types.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/getMobalyticsCounters.ts
  packages/cron-scripts/src/utils/helpers.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

fix(cron-script): enhance mobalyticsApiCounterDto to include rank, role, and index
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/common/dtos.ts
  packages/cron-scripts/src/scripts/getChampionCounters/mobalytics/getMobalyticsCounters.ts
Due: prettier --write --ignore-unknown, eslint --config ./packages/cron-scripts/eslint.config.mjs --fix

refactor(scratchpad): update sections and task entry convention for clarity
  .cursor/rules/scratchpad-workflow.mdc
  .cursor/scratchpad.md
Due: none

docs(scratchpad): expand data acquisition and UX considerations for counter picks
  .cursor/scratchpad.md
Due: none
